#--------------------------- Account Settings -----------------------------------

GAS_LIMIT=8000000

GAS_PRICE=5

BUY_IN_AMOUNT=0.001

#--------------------------- Private Key -----------------------------------
# Bot Private Key
ACCOUNT_PK=aaaaaaaaaaaaa