NODE_ENV=production

#wbnb: "0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c" // BSC mainnet
#wbnb: '0xae13d989dac2f0debff460ac112a837c89baa7cd' // BSC testnet
WBNB_ADDRESS=0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c

# Network RPC
#WEB3_WS_Default_PROVIDER=wss://bsc-ws-node.nariox.org:443
WEB3_HTTP_MAINNET_PROVIDER=https://bsc-dataseed1.binance.org/
WEB3_HTTP_TESTNET_PROVIDER=https://data-seed-prebsc-1-s1.binance.org:8545/

# mainnet
FACTORY_MAIN_ADDRESS=0xcA143Ce32Fe78f1f7019d7d551a6402fC5350c73
ROUTER_MAIN_ADDRESS=0x10ED43C718714eb63d5aA57B78B54704E256024E

# testnet
FACTORY_TEST_ADDRESS=0xb7926c0430afb07aa7defde6da862ae0bde767bc
ROUTER_TEST_ADDRESS=0x9Ac64Cc6e4415144C455BD8E4837Fea55603e5c3

# EDIT
ACCOUNT_PK=0xabc

GAS_LIMIT=8000000

GAS_PRICE=10

BUY_IN_AMOUNT=0.0001