NODE_ENV=production

# #-------------------------------- RPC ----------------------------------------
# WEB3_WS_Default_PROVIDER=wss://bsc-ws-node.nariox.org:443
# WEB3_HTTP_TESTNET_PROVIDER=https://data-seed-prebsc-1-s1.binance.org:8545/

# BSC Mainnet => https://bsc-dataseed1.binance.org/
#WEB3_HTTP_MAINNET_PROVIDER=https://bsc-dataseed1.binance.org/

# Matic Mainnet
WEB3_HTTP_MAINNET_PROVIDER=https://rpc-mainnet.maticvigil.com/

#--------------------------------- NETWORK --------------------------------------

# BSC mainnet
# FACTORY_MAIN_ADDRESS=0xcA143Ce32Fe78f1f7019d7d551a6402fC5350c73
# ROUTER_MAIN_ADDRESS=0x10ED43C718714eb63d5aA57B78B54704E256024E

# Matic mainnet
FACTORY_MAIN_ADDRESS=0x5757371414417b8c6caad45baef941abc7d3ab32
ROUTER_MAIN_ADDRESS=0xa5e0829caced8ffdd4de3c43696c57f7d7a678ff

# BSC testnet
#FACTORY_TEST_ADDRESS=0xb7926c0430afb07aa7defde6da862ae0bde767bc
#ROUTER_TEST_ADDRESS=0x9Ac64Cc6e4415144C455BD8E4837Fea55603e5c3

#--------------------------- Wrapped Token: WBNB, WMatic -----------------------

# BSC Mainnet => 0xbb4cdb9cbd36b01bd1cbaebf2de08d9173bc095c
# BSC Testnet => 0xae13d989dac2f0debff460ac112a837c89baa7cd
# Matic Mainnet => 0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270
WBNB_ADDRESS=0x0d500b1d8e8ef31e21c99d1db9a6444d3adf1270

#--------------------------- Account Settings -----------------------------------

GAS_LIMIT=8000000

GAS_PRICE=3

BUY_IN_AMOUNT=0.0001

#--------------------------- Private Key -----------------------------------
# Bot Private Key
ACCOUNT_PK=0xaa0xaa0xaa0xaa0xaa0xaa0xaa0xaa0xaa0xaa0xaa0xaa0xaa0xaa0xaa0xaa